<h2>Please review the information you have entered:</h2>
<h3>Personal Info</h3>
<h4>First Name:</h4>{{formData.firstName}}
<h4>Middle Name:</h4>{{formData.middleName}}
<h4>Last Name:</h4>{{formData.lastName}}
<h4>Full Name: </h4> {{ formData.firstName + ' '+ formData.middleName +' ' + formData.lastName + ' ' + formData.suffix}} .<h4>
  Suffix :{{formData.suffix }}</h4>

<hr>

<h3>Contact Info/Address</h3>
<h4>Street: </h4>{{formData.street}}
<h4>Ciy: </h4> {{formData.city}}
<h4>State: </h4> {{formData.state}}
<h4>Zip: </h4> {{formData.zip}}
